{%- liquid
    if menu_text_left != blank
        if block_style == "megamenu_style_5" or block_style == "megamenu_style_4"
            assign site_text_width = 100 | divided_by: column | append: '%'
            assign column = column | minus: 1
        endif
    endif
-%}
<li class="menu-lv-item menu-lv-1 has-megamenu dropdown{% if sale_item_lv1 contains title %} menu-sale{% endif %} block_layout--{{container}}"{% if settings.enable_following_cursor and settings.following_cursor_style == 'default' %} no-effect-cursor{% endif %}>
    {%- if link.links != blank -%}
        <a class="menu-lv-1__action header__menu-item list-menu__item link focus-inset menu_mobile_link link-effect" href="{{ link.url }}">
            {% if check_vertical == true %}
                {% assign img = link.handle | downcase | replace: ' ', '-' | append: '.png' %}
                {%- if images[img] != blank -%}
                <span class="icon-img">
                    <img src="{{ img | file_url }}" alt="{{ link.title }}">
                </span>
                {% endif %}
            {% endif %}
            <span class="text{% if link.child_active %} header__active-menu-item{% endif %} p-relative">{{ link.title | escape }}</span>
            <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
            {%- if new_label_1 contains title -%}
                <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
            {%- elsif sale_label_1 contains title -%}
                <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
            {%- elsif hot_label_1 contains title -%}
                <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
            {%- endif -%}
        </a>

        {%- if block_style == "megamenu_style_1" -%}
            <div class="menu-dropdown custom-scrollbar {{ block_style }} p-absolute top-auto left-0 w-100 zi-10 o-x-hidden o-y-auto text-left opacity-0">
                <div class="{%- if container == 'full' -%}container-full{%- else -%}container{%- endif -%}"{% if container != 'full' %} style="--container_size: {{ size_container | append: 'px' }}"{% endif %}>
                    <div class="menu-dropdown__wrapper d-flex flex-wrap flex-align-stretch flex-jc-between">
                        <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span>{{ link.title | escape }}</div>
                        <div class="site-nav navigation_all_mobile d-none">
                            <div class="site-nav-list "><a href="{{ link.url }}" class="site-nav-title menu-lv-2"><span>{{ 'general.navigation.go_to' | t }} {{ link.title | escape }}</span></a></div>
                        </div>
                        <div class="menu-dropdown__column menu-dropdown__column-{{ column }} w-auto{% unless show_banner_1 or show_product %} column-full{% endunless %}{% unless show_product %} no_show_product{% endunless %}{% unless show_banner_1 %} no_show_banner{% endunless %}" data-masonry='{ "itemSelector": "[data-gridItem]", "columnWidth": ".grid-sizer" }'>
                            <div class="grid-sizer"></div>
                            {%- for childlink in link.links -%}
                                {% assign childtitle = childlink.title | escape | downcase | handle %}
                                <div class="site-nav dropdown{% if show_label_blink %} menu-lv-blink{% endif %}" data-gridItem>
                                    <div class="site-nav-list">
                                        <a href="{{ childlink.url }}" class="site-nav-title{% if childlink.links != blank %} menu_mobile_link_2{% endif %}{% if sale_item_lv2 contains childtitle %} active-sale{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                            <span class="text{% if childlink.current %} site-nav-active{% endif %}">{{ childlink.title | escape }}</span>
                                            {%- if childlink.links != blank -%}
                                            <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
                                            {%- endif -%}
                                            {%- if new_label_2 contains childtitle -%}
                                                <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                            {%- elsif sale_label_2 contains childtitle -%}
                                                <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                            {%- elsif hot_label_2 contains childtitle -%}
                                                <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                            {%- endif -%}
                                        </a>
                                        {%- if childlink.links != blank -%}
                                            <div class="site-nav-sub">
                                                <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ childlink.title | escape }}</div>
                                                <ul class="list-unstyled">
                                                    <li class="site-nav-item menu-lv-3 text-left navigation_all_mobile d-none"><a href="{{ childlink.url }}" class="site-nav-link m-zero link link-underline link--text focus-inset link-effect caption-large"><span class="text p-relative">{{ 'general.navigation.go_to' | t }} {{ childlink.title | escape }}</span></a></li>
                                                    {%- for grandchildlink in childlink.links -%}
                                                        {% assign grandchildtitle = grandchildlink.title | escape | downcase | handle %}
                                                        <li class="site-nav-item menu-lv-3 text-left{% if sale_item_lv3 contains grandchildtitle %} active-sale{% endif %}">
                                                            <a href="{{ grandchildlink.url }}" class="site-nav-link m-zero link link--text focus-inset caption-large link-effect"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                <span class="text{% if grandchildlink.current %} site-nav-active{% endif %} p-relative">{{ grandchildlink.title | escape }}</span>
                                                                {%- if new_label_3 contains grandchildtitle -%}
                                                                    <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                                {%- elsif sale_label_3 contains grandchildtitle -%}
                                                                    <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                                {%- elsif hot_label_3 contains grandchildtitle -%}
                                                                    <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                                {%- endif -%}
                                                            </a>
                                                        </li>
                                                    {%- endfor -%}
                                                </ul>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            {%- endfor -%}
                        </div>
                        <div class="menu-dropdown__banner clearfix {% unless show_product %}no_show_product{% endunless %}{% unless show_banner_1 %} no_show_banner{% endunless %}">
                            <div class="site-nav-banner d-flex ft-0 ls-0 flex-jc-end">
                                {%- if show_product -%}
                                    <div class="menu-dropdown__product col-left">
                                        {% if product_title != blank %}<h3 class="menu-dropdown__block--title text-center p-relative"><span class="text d-inline-block ver-alg-top w-auto p-zero p-relative zi-2">{{ product_title | escape }}</span></h3>{% endif %}
                                        <div class="menu-dropdown__block--content">
                                            <div class="site-nav-product products-carousel megamenu_1" data-product="{{product_collection}}">
                                                {%- if product_collection != blank -%}
                                                    <div class="product">
                                                        {% render 'product-card-loading',
                                                            product_card_product: product,
                                                            media_size: image_ratio,
                                                        %}
                                                    </div>
                                                {%- else -%}
                                                    {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                                                    {% render 'product-card-placeholder',
                                                        index: current,
                                                        card-mega-menu: true
                                                    %}
                                                {%- endif -%}
                                            </div>
                                        </div>
                                    </div>
                                {%- endif -%}
                                {%- if show_banner_1 -%}
                                    <div class="site-nav-banner--item site-nav-banner-item--right d-inline-block ver-alg-top w-100">
                                        <div class="banner d-block">
                                            <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                {%- if banner_1 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}>{% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: 337px;">
                                                        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- elsif block_style == "megamenu_style_2" -%}
            <div class="menu-dropdown custom-scrollbar {{ block_style }} p-absolute top-auto left-0 w-100 zi-10 o-x-hidden o-y-auto text-left opacity-0">
                <div class="{%- if container == 'full' -%}container-full{%- else -%}container{%- endif -%}"{% if container != 'full' %} style="--container_size: {{ size_container | append: 'px' }}"{% endif %}>
                    <div class="menu-dropdown__wrapper d-flex flex-wrap flex-align-stretch flex-jc-between">
                        <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ link.title | escape }}</div>
                        <div class="site-nav navigation_all_mobile d-none">
                            <div class="site-nav-list "><a href="{{ link.url }}" class="site-nav-title menu-lv-2"><span>{{ 'general.navigation.go_to' | t }} {{ link.title | escape }}</span></a></div>
                        </div>
                        <div class="menu-dropdown__column menu-dropdown__column-{{ column }} w-auto{% unless show_banner_1 or show_banner_2 or show_banner_3 %} column-full{% endunless %}" data-masonry='{ "itemSelector": "[data-gridItem]", "columnWidth": ".grid-sizer" }'>
                            <div class="grid-sizer"></div>
                            {%- for childlink in link.links -%}
                                {% assign childtitle = childlink.title | escape | downcase | handle %}
                                <div class="site-nav dropdown{% if show_label_blink %} menu-lv-blink{% endif %}" data-gridItem>
                                    <div class="site-nav-list">
                                        <a href="{{ childlink.url }}" class="site-nav-title{% if childlink.links != blank %} menu_mobile_link_2{% endif %}{% if sale_item_lv2 contains childtitle %} active-sale{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                            <span class="text{% if childlink.current %} site-nav-active{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50" height="50" width="50"><g clip-path="url(#clip0_2409_209)"><g clip-path="url(#clip1_2409_209)"><path fill="black" d="M40 25C40 22.9375 39.5875 20.9875 38.8375 19.1875V19.15V19.1125C38.0875 17.3875 37.0375 15.775 35.725 14.4625L35.65 14.3875L35.6125 14.35L35.575 14.3125C34.1875 13 32.5375 11.9125 30.7375 11.125C30.7 11.125 30.7 11.0875 30.6625 11.0875H30.625C28.825 10.375 26.95 10 25 10C22.9375 10 20.9875 10.4125 19.1875 11.1625H19.15H19.1125C17.3875 11.9125 15.775 12.9625 14.4625 14.275L14.425 14.3125C14.425 14.3125 14.3875 14.3125 14.3875 14.35L14.3125 14.425C13 15.8125 11.9125 17.425 11.1625 19.2625C11.1625 19.3 11.125 19.3 11.125 19.3375V19.375C10.4125 21.1375 10 23.0125 10 25C10 27.0625 10.4125 29.0125 11.1625 30.8125V30.85V30.8875C11.9125 32.6125 12.9625 34.225 14.275 35.575C14.3125 35.6125 14.35 35.65 14.3875 35.6875H14.425L14.4625 35.725C15.85 37 17.5 38.0875 19.3 38.875C19.3375 38.875 19.3375 38.9125 19.375 38.9125C21.1375 39.625 23.0125 40 24.9625 40C27.025 40 28.975 39.5875 30.8125 38.8H30.85H30.8875C32.6125 38.05 34.225 37 35.5375 35.6875C35.6125 35.65 35.65 35.6125 35.65 35.575C37 34.1875 38.125 32.5375 38.875 30.7C38.875 30.7 38.875 30.6625 38.9125 30.6625V30.5875C39.5875 28.825 40 26.95 40 25ZM38.1625 29.8L35.0875 28.6L38.95 25.9C38.875 27.2875 38.6125 28.6 38.1625 29.8ZM30.8875 37.7125L29.575 34.7125L34.225 35.5375C33.2125 36.4375 32.0875 37.15 30.8875 37.7125ZM15.775 35.5375L20.4625 34.7125L19.2625 37.7875C18.025 37.1875 16.8625 36.4375 15.775 35.5375ZM11.0125 25.9L14.9125 28.6L11.875 29.9875C11.425 28.7125 11.125 27.3625 11.0125 25.9ZM11.8375 20.1625L14.9125 21.3625L11.05 24.0625C11.125 22.7125 11.3875 21.3625 11.8375 20.1625ZM19.1125 12.25L20.425 15.25L15.775 14.425C16.7875 13.5625 17.9125 12.85 19.1125 12.25ZM34.225 14.425L29.5375 15.25L30.7375 12.175C31.975 12.775 33.1375 13.525 34.225 14.425ZM38.9875 24.0625L35.0875 21.3625L38.125 20.0125C38.575 21.25 38.875 22.6 38.9875 24.0625ZM25 30.8125L20.875 29.125L19.15 25L20.875 20.875L25 19.15L29.125 20.875L30.85 25L29.125 29.125L25 30.8125ZM18.5125 24.025L16.75 21.5875L19.7125 21.1375L18.5125 24.025ZM19.75 28.8625L16.7875 28.375L18.55 25.975L19.75 28.8625ZM31.4875 25.9375L33.25 28.375L30.25 28.8625L31.4875 25.9375ZM30.25 21.1L33.2125 21.5875L31.4875 23.9875L30.25 21.1ZM33.7 20.65L29.9125 20.05L29.35 16.2625L34.7125 15.2875L33.7 20.65ZM28.4125 16.75L28.8625 19.7125L25.975 18.5125L28.4125 16.75ZM25 18.0625L21.925 15.8125L25 11.3125L28.075 15.775L25 18.0625ZM24.025 18.5125L21.1375 19.7125L21.625 16.75L24.025 18.5125ZM20.0875 20.0875L16.3 20.65L15.325 15.2875L20.6875 16.2625L20.0875 20.0875ZM15.8125 21.8875L18.0625 24.9625L15.8125 28.0375L11.35 25L15.8125 21.8875ZM16.3 29.3125L20.0875 29.9125L20.65 33.7L15.2875 34.675L16.3 29.3125ZM21.5875 33.2125L21.1375 30.25L24.025 31.45L21.5875 33.2125ZM25 31.9L28.075 34.15L25 38.65L21.925 34.1875L25 31.9ZM25.975 31.45L28.8625 30.25L28.375 33.25L25.975 31.45ZM29.9125 29.875L33.7 29.3125L34.675 34.675L29.3125 33.7L29.9125 29.875ZM34.1875 28.075L31.9375 25L34.1875 21.925L38.65 25L34.1875 28.075ZM34.75 20.425L35.575 15.775C36.4375 16.7875 37.15 17.875 37.75 19.1125L34.75 20.425ZM28.6375 14.875L25.9375 11.0125C27.2875 11.125 28.5625 11.3875 29.8 11.8L28.6375 14.875ZM21.325 14.9125L19.975 11.875C21.25 11.3875 22.6 11.0875 24.025 10.975L21.325 14.9125ZM14.425 15.775L15.25 20.425L12.175 19.225C12.775 17.9875 13.525 16.825 14.425 15.775ZM15.25 29.575L14.425 34.225C13.5625 33.2125 12.85 32.125 12.25 30.8875L15.25 29.575ZM21.3625 35.0875L24.0625 38.95C22.7125 38.8375 21.4375 38.575 20.2 38.1625L21.3625 35.0875ZM28.675 35.0875L30.025 38.125C28.75 38.6125 27.4 38.9125 25.975 39.025L28.675 35.0875ZM35.575 34.1875L34.75 29.5375L37.825 30.7375C37.225 31.975 36.475 33.1375 35.575 34.1875Z"></path></g>
</g>
<defs>
<clipPath id="clip0_2409_209">
<rect transform="translate(10 10)" fill="white" height="30" width="30"></rect>
</clipPath>
<clipPath id="clip1_2409_209">
<rect transform="translate(10 10)" fill="white" height="30" width="30"></rect>
</clipPath>
</defs>
</svg>
{{ childlink.title | escape }}</span>
                                            {%- if childlink.links != blank -%}
                                            <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
                                            {%- endif -%}
                                            {%- if new_label_2 contains childtitle -%}
                                                <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                            {%- elsif sale_label_2 contains childtitle -%}
                                                <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                            {%- elsif hot_label_2 contains childtitle -%}
                                                <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                            {%- endif -%}
                                        </a>
                                        {%- if childlink.links != blank -%}
                                            <div class="site-nav-sub">
                                                <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ childlink.title | escape }}</div>
                                                <ul class="list-unstyled">
                                                    <li class="site-nav-item menu-lv-3 text-left navigation_all_mobile d-none"><a href="{{ childlink.url }}" class="site-nav-link m-zero link link-underline link--text focus-inset link-effect caption-large"><span class="text  p-relative">{{ 'general.navigation.go_to' | t }} {{ childlink.title | escape }}</span></a></li>
                                                    {%- for grandchildlink in childlink.links -%}
                                                        {% assign grandchildtitle = grandchildlink.title | escape | downcase | handle %}
                                                        <li class="site-nav-item text-left{% if sale_item_lv3 contains grandchildtitle %} active-sale{% endif %}">
                                                            <a href="{{ grandchildlink.url }}" class="site-nav-link m-zero link link--text focus-inset link-effect caption-large"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                <span class="text{% if grandchildlink.current %} site-nav-active{% endif %}  p-relative">{{ grandchildlink.title | escape }}</span>
                                                                {%- if new_label_3 contains grandchildtitle -%}
                                                                    <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                                {%- elsif sale_label_3 contains grandchildtitle -%}
                                                                    <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                                {%- elsif hot_label_3 contains grandchildtitle -%}
                                                                    <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                                {%- endif -%}
                                                            </a>
                                                        </li>
                                                    {%- endfor -%}
                                                </ul>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            {%- endfor -%}
                        </div>
                        <div class="menu-dropdown__banner clearfix">
                            <div class="site-nav-banner d-flex ft-0 ls-0 flex-jc-end">
                                <div class="site-nav-banner--item site-nav-banner-item--left d-inline-block ver-alg-top w-100{% if show_banner_3 == blank %} disable_banner_3{% endif %}">
                                    {%- if show_banner_1 -%}
                                        <div class="banner d-block">
                                            <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                {%- if banner_1 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: {% if show_banner_3 == blank %}180px{% else %}165px{% endif %};">
                                                        {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                    {%- if show_banner_2 -%}
                                        <div class="banner">
                                            <a{% if banner_url_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ banner_url_2 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center" {% if banner_2 != blank %}style="padding-top: {{ 1 | divided_by: banner_2.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_2.alt | default: shop.name | escape }}">
                                                {%- if banner_2 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_2 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_2 | img_url: 'master' }}"{% endunless %} alt="{{ banner_2.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: {% if show_banner_3 == blank %}180px{% else %}165px{% endif %};">
                                                        {{ 'blog-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                </div>

                                {%- if show_banner_3 -%}
                                    <div class="site-nav-banner--item site-nav-banner-item--right d-inline-block ver-alg-top w-100">
                                        <div class="banner d-block">
                                            <a {% if banner_url_3 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_3 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center"{% if banner_3 != blank %} style="padding-top: {{ 1 | divided_by: banner_3.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_3.alt | default: shop.name | escape }}">
                                                {%- if banner_3 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_3 | img_url: 'master' }}"
                                                    {% unless settings.enable_lazyload %}src="{{ banner_3 | img_url: 'master' }}"{% endunless %} alt="{{ banner_3.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: 337px;">
                                                        {{ 'blog-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- elsif block_style == "megamenu_style_3" -%}
            <div class="menu-dropdown custom-scrollbar {{ block_style }} megamenu_style_3--{{ mega_tyle }} p-absolute top-auto left-0 w-100 zi-10 o-x-hidden o-y-auto text-left opacity-0">
                <div class="{%- if container == 'full' -%}container-full{%- else -%}container{%- endif -%}" {% if container != 'full' %}style="--container_size: {{ size_container | append: 'px' }}"{% endif %}>
                    <div class="menu-dropdown__wrapper d-flex flex-wrap flex-align-stretch flex-jc-between">
                        <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ link.title | escape }}</div>
                        <div class="site-nav navigation_all_mobile d-none">
                            <div class="site-nav-list "><a href="{{ link.url }}" class="site-nav-title menu-lv-2"><span>{{ 'general.navigation.go_to' | t }} {{ link.title | escape }}</span></a></div>
                        </div>
                        {% if mega_tyle == 'style1' %}
                            <div class="menu-dropdown__column menu-dropdown__column-{{ column }} w-auto" data-masonry='{ "itemSelector": "[data-gridItem]", "columnWidth": ".grid-sizer" }'>
                                <div class="grid-sizer"></div>
                                {%- for childlink in link.links -%}
                                    {% assign childtitle = childlink.title | escape | downcase | handle %}
                                    <div class="site-nav dropdown d-inline-block ver-alg-top w-100{% if show_label_blink %} menu-lv-blink{% endif %}" data-gridItem>
                                        <div class="site-nav-list">
                                            <a href="{{ childlink.url }}" class="site-nav-title{% if childlink.links != blank %} menu_mobile_link_2{% endif %}{% if sale_item_lv2 contains childtitle %} active-sale{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                <span class="text{% if childlink.current %} site-nav-active{% endif %}">{{ childlink.title | escape }}</span>
                                                {%- if childlink.links != blank -%}
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
                                                {%- endif -%}
                                                {%- if new_label_2 contains childtitle -%}
                                                    <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                {%- elsif sale_label_2 contains childtitle -%}
                                                    <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                {%- elsif hot_label_2 contains childtitle -%}
                                                    <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                {%- endif -%}
                                            </a>
                                            {% case forloop.index  %}
                                                {% when 1 %}
                                                    {%- if show_banner_1 -%}
                                                        <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                            {%- if banner_1 != blank -%}
                                                                <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                            {%- else -%}
                                                                <div class="placeholder" style="--height_placeholder: 125px;">
                                                                    {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                                </div>
                                                            {%- endif -%}
                                                        </a>
                                                    {%- endif -%}
                                                {% when 2 %}
                                                    {%- if show_banner_2 -%}
                                                        <a {% if banner_url_2 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_2 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_2 != blank %} style="padding-top: {{ 1 | divided_by: banner_2.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_2.alt | default: shop.name | escape }}">
                                                            {%- if banner_2 != blank -%}
                                                                <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_2 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_2 | img_url: 'master' }}"{% endunless %} alt="{{ banner_2.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                            {%- else -%}
                                                                <div class="placeholder" style="--height_placeholder: 125px;">
                                                                    {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                                                </div>
                                                            {%- endif -%}
                                                        </a>
                                                    {%- endif -%}
                                                {% when 3 %}
                                                    {%- if show_banner_3 -%}
                                                        <a {% if banner_url_3 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_3 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_3 != blank %} style="padding-top: {{ 1 | divided_by: banner_3.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_3.alt | default: shop.name | escape }}">
                                                            {%- if banner_3 != blank -%}
                                                                <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_3 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_3 | img_url: 'master' }}"{% endunless %} alt="{{ banner_3.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                            {%- else -%}
                                                                <div class="placeholder" style="--height_placeholder: 125px;">
                                                                    {{ 'collection-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                                                                </div>
                                                            {%- endif -%}
                                                        </a>
                                                    {%- endif -%}
                                                {% when 4 %}
                                                    {%- if show_banner_4 -%}
                                                        <a {% if banner_url_4 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_4 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_4 != blank %} style="padding-top: {{ 1 | divided_by: banner_4.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_4.alt | default: shop.name | escape }}">
                                                            {%- if banner_4 != blank -%}
                                                                <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_4 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_4 | img_url: 'master' }}"{% endunless %} alt="{{ banner_4.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                            {%- else -%}
                                                                <div class="placeholder" style="--height_placeholder: 125px;">
                                                                    {{ 'collection-apparel-4' | placeholder_svg_tag: 'placeholder-svg' }}
                                                                </div>
                                                            {%- endif -%}
                                                        </a>
                                                    {%- endif -%}
                                                {% when 5 %}
                                                    {%- if show_banner_5 -%}
                                                        <a {% if banner_url_5 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_5 }}"{% endif %} class="image adaptive_height image-zoom" {% if banner_5 != blank %} style="padding-top: {{ 1 | divided_by: banner_5.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_5.alt | default: shop.name | escape }}">
                                                            {%- if banner_5 != blank -%}
                                                                <img srcset="{{ banner_5 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_5 | img_url: 'master' }}"{% endunless %} alt="{{ banner_5.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                            {%- else -%}
                                                                <div class="placeholder" style="--height_placeholder: 125px;">
                                                                    {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                                </div>
                                                            {%- endif -%}
                                                        </a>
                                                    {%- endif -%}
                                                {% when 6 %}
                                                    {%- if show_banner_6 -%}
                                                        <a {% if banner_url_6 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_6 }}"{% endif %} class="image adaptive_height image-zoom" {% if banner_6 != blank %} style="padding-top: {{ 1 | divided_by: banner_6.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_6.alt | default: shop.name | escape }}">
                                                            {%- if banner_6 != blank -%}
                                                                <img srcset="{{ banner_6 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_6 | img_url: 'master' }}"{% endunless %} alt="{{ banner_6.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                            {%- else -%}
                                                                <div class="placeholder" style="--height_placeholder: 125px;">
                                                                    {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                                                </div>
                                                            {%- endif -%}
                                                        </a>
                                                    {%- endif -%}
                                            {% endcase %}
                                            {%- if childlink.links != blank -%}
                                                <div class="site-nav-sub">
                                                    <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ childlink.title | escape }}</div>
                                                    <ul class="list-unstyled">
                                                        <li class="site-nav-item menu-lv-3 text-left navigation_all_mobile d-none"><a href="{{ childlink.url }}" class="site-nav-link m-zero link link-underline link--text focus-inset link-effect caption-large"><span class="text p-relative">{{ 'general.navigation.go_to' | t }} {{ childlink.title | escape }}</span></a></li>
                                                        {%- for grandchildlink in childlink.links -%}
                                                            {% assign grandchildtitle = grandchildlink.title | escape | downcase | handle %}
                                                            <li class="site-nav-item text-left{% if sale_item_lv3 contains grandchildtitle %} active-sale{% endif %}">
                                                                <a href="{{ grandchildlink.url }}" class="site-nav-link m-zero link link--text focus-inset link-effect caption-large"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                    <span class="text{% if grandchildlink.current %} site-nav-active{% endif %} p-relative">{{ grandchildlink.title | escape }}</span>
                                                                    {%- if new_label_3 contains grandchildtitle -%}
                                                                        <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                                    {%- elsif sale_label_3 contains grandchildtitle -%}
                                                                        <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                                    {%- elsif hot_label_3 contains grandchildtitle -%}
                                                                        <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                                    {%- endif -%}
                                                                </a>
                                                            </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                {%- endfor -%}
                            </div>
                        {% else %}
                            <div class="menu-dropdown__column menu-dropdown__column-{{ column }} w-auto">
                                {%- for childlink in link.links -%}
                                    {% assign childtitle = childlink.title | escape | downcase | handle %}
                                    <div class="dropdown site-nav{% if show_label_blink %} menu-lv-blink{% endif %}">
                                        {% case forloop.index  %}
                                            {% when 1 %}
                                                {%- if show_banner_1 -%}
                                                    <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                        {%- if banner_1 != blank -%}
                                                            <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                        {%- else -%}
                                                            <div class="placeholder" style="--height_placeholder: 125px;">
                                                                {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                            </div>
                                                        {%- endif -%}
                                                    </a>
                                                {%- endif -%}
                                            {% when 2 %}
                                                {%- if show_banner_2 -%}
                                                    <a {% if banner_url_2 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_2 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_2 != blank %} style="padding-top: {{ 1 | divided_by: banner_2.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_2.alt | default: shop.name | escape }}">
                                                        {%- if banner_2 != blank -%}
                                                            <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_2 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_2 | img_url: 'master' }}"{% endunless %} alt="{{ banner_2.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                        {%- else -%}
                                                            <div class="placeholder" style="--height_placeholder: 125px;">
                                                                {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                                            </div>
                                                        {%- endif -%}
                                                    </a>
                                                {%- endif -%}
                                            {% when 3 %}
                                                {%- if show_banner_3 -%}
                                                    <a {% if banner_url_3 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_3 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_3 != blank %} style="padding-top: {{ 1 | divided_by: banner_3.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_3.alt | default: shop.name | escape }}">
                                                        {%- if banner_3 != blank -%}
                                                            <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_3 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_3 | img_url: 'master' }}"{% endunless %} alt="{{ banner_3.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                        {%- else -%}
                                                            <div class="placeholder" style="--height_placeholder: 125px;">
                                                                {{ 'collection-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                                                            </div>
                                                        {%- endif -%}
                                                    </a>
                                                {%- endif -%}
                                            {% when 4 %}
                                                {%- if show_banner_4 -%}
                                                    <a {% if banner_url_4 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_4 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_4 != blank %} style="padding-top: {{ 1 | divided_by: banner_4.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_4.alt | default: shop.name | escape }}">
                                                        {%- if banner_4 != blank -%}
                                                            <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_4 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_4 | img_url: 'master' }}"{% endunless %} alt="{{ banner_4.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                        {%- else -%}
                                                            <div class="placeholder" style="--height_placeholder: 125px;">
                                                                {{ 'collection-apparel-4' | placeholder_svg_tag: 'placeholder-svg' }}
                                                            </div>
                                                        {%- endif -%}
                                                    </a>
                                                {%- endif -%}
                                            {% when 5 %}
                                                {%- if show_banner_5 -%}
                                                    <a {% if banner_url_5 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_5 }}"{% endif %} class="image adaptive_height image-zoom"{% if banner_5 != blank %} style="padding-top: {{ 1 | divided_by: banner_5.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_5.alt | default: shop.name | escape }}">
                                                        {%- if banner_5 != blank -%}
                                                            <img srcset="{{ banner_5 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_5 | img_url: 'master' }}"{% endunless %} alt="{{ banner_5.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                        {%- else -%}
                                                            <div class="placeholder" style="--height_placeholder: 125px;">
                                                                {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                            </div>
                                                        {%- endif -%}
                                                    </a>
                                                {%- endif -%}
                                            {% when 6 %}
                                                {%- if show_banner_6 -%}
                                                    <a {% if banner_url_6 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_6 }}"{% endif %} class="image adaptive_height image-zoom" {% if banner_6 != blank %} style="padding-top: {{ 1 | divided_by: banner_6.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_6.alt | default: shop.name | escape }}">
                                                        {%- if banner_6 != blank -%}
                                                            <img srcset="{{ banner_6 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_6 | img_url: 'master' }}"{% endunless %} alt="{{ banner_6.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                        {%- else -%}
                                                            <div class="placeholder" style="--height_placeholder: 125px;">
                                                                {{ 'collection-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                                            </div>
                                                        {%- endif -%}
                                                    </a>
                                                {%- endif -%}
                                        {% endcase %}
                                    </div>
                                    <div class="site-nav site-nav-right dropdown{% if show_label_blink %} menu-lv-blink{% endif %}">
                                        <div class="site-nav-list">
                                            <a href="{{ childlink.url }}" class="site-nav-title{% if childlink.links != blank %} menu_mobile_link_2{% endif %}{% if sale_item_lv2 contains childtitle %} active-sale{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                <span class="text{% if childlink.current %} site-nav-active{% endif %}">{{ childlink.title | escape }}</span>
                                                {%- if childlink.links != blank -%}
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
                                                {%- endif -%}
                                                {%- if new_label_2 contains childtitle -%}
                                                    <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                {%- elsif sale_label_2 contains childtitle -%}
                                                    <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                {%- elsif hot_label_2 contains childtitle -%}
                                                    <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                {%- endif -%}
                                            </a>
                                            {%- if childlink.links != blank -%}
                                                <div class="site-nav-sub">
                                                    <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ childlink.title | escape }}</div>
                                                    <ul class="list-unstyled">
                                                        {%- for grandchildlink in childlink.links -%}
                                                            {% assign grandchildtitle = grandchildlink.title | escape | downcase | handle %}
                                                            <li class="site-nav-item text-left{% if sale_item_lv3 contains grandchildtitle %} active-sale{% endif %}">
                                                                <a href="{{ grandchildlink.url }}" class="site-nav-link m-zero link link--text focus-inset link-effect caption-large"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                    <span class="text{% if grandchildlink.current %} site-nav-active{% endif %} p-relative">{{ grandchildlink.title | escape }}</span>
                                                                    {%- if new_label_3 contains grandchildtitle -%}
                                                                        <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                                    {%- elsif sale_label_3 contains grandchildtitle -%}
                                                                        <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                                    {%- elsif hot_label_3 contains grandchildtitle -%}
                                                                        <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                                    {%- endif -%}
                                                                </a>
                                                            </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                {%- endfor -%}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {%- elsif block_style == "megamenu_style_4" -%}
            <div class="menu-dropdown custom-scrollbar {{ block_style }} p-absolute top-auto left-0 w-100 zi-10 o-x-hidden o-y-auto text-left opacity-0">
                <div class="{%- if container == 'full' -%}container-full{%- else -%}container{%- endif -%}" {% if container != 'full' %}style="--container_size: {{ size_container | append: 'px' }}"{% endif %}>
                    <div class="menu-dropdown__wrapper d-flex flex-wrap flex-align-stretch flex-jc-between" style="--site_text_width: {{ site_text_width | default: '0' }}">
                        <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span>{{ link.title | escape }}</div>
                        <div class="site-nav navigation_all_mobile d-none">
                            <div class="site-nav-list">
                                <a href="{{ link.url }}" class="site-nav-title menu-lv-2"><span>{{ 'general.navigation.go_to' | t }} {{ link.title | escape }}</span></a>
                            </div>
                        </div>
                        <div class="wrapper-colunm-menu">
                            {%- if menu_text_left != blank -%}
                                <div class="col-left">
                                    <div class="site-nav-title menu-dropdown__text">
                                        {%- for link in menu_text_left.links -%}
                                            {% assign linktitle = link.title | escape | downcase | handle %}
                                            {% assign menu_text_left_sale = menu_text_left_sale | escape | downcase | handle %}
                                            <a {% if menu_text_left_sale contains linktitle %}class="active-sale"{% endif %} href="{{ link.url | escape }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a>
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="col-right">
                            {%- endif -%}
                                <div class="menu-dropdown__column menu-dropdown__column-{{ column }} w-auto{% unless show_banner_1 or show_banner_2 or show_banner_3 %} column-full{% endunless %}" data-masonry='{ "itemSelector": "[data-gridItem]", "columnWidth": ".grid-sizer" }'>
                                    <div class="grid-sizer"></div>
                                    {%- for childlink in link.links -%}
                                        {% assign childtitle = childlink.title | escape | downcase | handle %}
                                        <div class="site-nav dropdown{% if show_label_blink %} menu-lv-blink{% endif %}" data-gridItem>
                                            <div class="site-nav-list">
                                                <a href="{{ childlink.url }}" class="site-nav-title{% if childlink.links != blank %} menu_mobile_link_2{% endif %}{% if sale_item_lv2 contains childtitle %} active-sale{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                    <span class="text{% if childlink.current %} site-nav-active{% endif %}">{{ childlink.title | escape }}</span>
                                                    {%- if childlink.links != blank -%}
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
                                                    {%- endif -%}
                                                    {%- if new_label_2 contains childtitle -%}
                                                        <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                    {%- elsif sale_label_2 contains childtitle -%}
                                                        <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                    {%- elsif hot_label_2 contains childtitle -%}
                                                        <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                    {%- endif -%}
                                                </a>
                                                {%- if childlink.links != blank -%}
                                                    <div class="site-nav-sub">
                                                        <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span> {{ childlink.title | escape }}</div>
                                                        <ul class="list-unstyled">
                                                            <li class="site-nav-item menu-lv-3 text-left navigation_all_mobile d-none">
                                                                <a href="{{ childlink.url }}" class="site-nav-link m-zero link link-underline link--text focus-inset link-effect caption-large"><span class="text p-relative">{{ 'general.navigation.go_to' | t }} {{ childlink.title | escape }}</span></a>
                                                            </li>
                                                            {%- for grandchildlink in childlink.links -%}
                                                                {% assign grandchildtitle = grandchildlink.title | escape | downcase | handle %}
                                                                <li class="site-nav-item text-left{% if sale_item_lv3 contains grandchildtitle %} active-sale{% endif %}">
                                                                    <a href="{{ grandchildlink.url }}" class="site-nav-link m-zero link link--text focus-inset link-effect caption-large"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                        <span class="text{% if grandchildlink.current %} site-nav-active{% endif %} p-relative">{{ grandchildlink.title | escape }}</span>
                                                                        {%- if new_label_3 contains grandchildtitle -%}
                                                                            <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                                        {%- elsif sale_label_3 contains grandchildtitle -%}
                                                                            <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                                        {%- elsif hot_label_3 contains grandchildtitle -%}
                                                                            <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                                        {%- endif -%}
                                                                    </a></li>
                                                            {%- endfor -%}
                                                        </ul>
                                                    </div>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                    {%- endfor -%}
                                </div>
                            {% if menu_text_left != blank %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="menu-dropdown__banner clearfix">
                            <div class="site-nav-banner d-flex ft-0 ls-0 flex-jc-end background-bottom" style="--mega-menu-bottom-background: {{ bg_mega_menu_bottom }}; --brand-link-color: {{ az_brand_link_text_color }}">
                                <div class="site-nav-banner--item site-nav-banner-item--left d-inline-block ver-alg-top w-100">
                                    {%- if show_banner_1 -%}
                                        <div class="banner d-block">
                                            <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                {%- if banner_1 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}>
                                                    {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: 255px;">
                                                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                </div>
                                <div class="site-nav-banner--item site-nav-banner-item--center d-inline-block ver-alg-top w-100">
                                    {%- if show_banner_2 -%}
                                        <div class="banner d-block">
                                            <a {% if banner_url_2 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_2 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center" {% if banner_2 != blank %} style="padding-top: {{ 1 | divided_by: banner_2.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_2.alt | default: shop.name | escape }}">
                                                {%- if banner_2 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_2 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_2 | img_url: 'master' }}"{% endunless %} alt="{{ banner_2.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: 255px;">
                                                        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                </div>
                                <div class="site-nav-banner--item site-nav-banner-item--right d-inline-block ver-alg-top w-100">
                                    {%- if show_az_brand -%}
                                        <div class="menu-dropdown__block menu-dropdown__brand">
                                            {% if az_brand_title != blank %}<h3 class="menu-dropdown__block--title text-left p-relative"><span class="text d-inline-block ver-alg-top w-auto p-zero p-relative zi-2">{{ az_brand_title | escape }}</span></h3>{% endif %}
                                            <div class="menu-dropdown__block--content">
                                                <div class="site-nav-brand d-flex flex-align-center flex-jc-between flex-nowrap">
                                                    <ul class="azbrandsTable clearfix list-unstyled d-block w-100 text-left">
                                                        {% assign list_vendor = '' %}
                                                        {% assign array = "A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|1-9" | split: "|" %}
                                                        {%- for brand in shop.vendors -%}
                                                            {% assign first = brand | strip_html | capitalize | truncate: 1, '' %}
                                                            {%- unless list_vendor contains first -%}
                                                                {% assign list_vendor = list_vendor | append: first %}
                                                            {%- endunless -%}
                                                        {%- endfor -%}
                                                        {%- for item in array -%}
                                                            <li>{%- if forloop.first -%}
                                                                    {% if list_vendor contains '1' or list_vendor contains '2' or list_vendor contains '3' or list_vendor contains '4' or list_vendor contains '5' or list_vendor contains '6' or list_vendor contains '7' or list_vendor contains '8' or list_vendor contains '9' or list_vendor contains '0' or list_vendor contains 'A' %}
                                                                        <a href="{{ az_brand_url }}#{{ item | downcase }}" class="link link-underline is-active"><span class="text">{{ item }}</span></a>
                                                                    {% else %}
                                                                        <a href="{{ az_brand_url }}#{{ item | downcase }}" class="link link-underline"><span class="text">{{ item }}</span></a>
                                                                    {% endif %}
                                                                {%- else -%}
                                                                    <a href="{{ az_brand_url }}#{{ item | downcase }}" class="link link-underline{% if list_vendor contains item %} is-active{% endif %}"><span class="text">{{ item }}</span></a>
                                                                {%- endif -%}
                                                            </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="nazbrandsLink p-zero">
                                                {%- if az_brand_link_text -%}
                                                    <a {% if az_brand_url == blank %}role="link" aria-disabled="true"{% else %}href="{{ az_brand_url }}"{% endif %} class="site-nav-action link link-underline m-zero txt-d-underline"><span class="text">{{ az_brand_link_text | escape }}</span></a>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- elsif block_style == "megamenu_style_5" -%}
            <div class="menu-dropdown custom-scrollbar {{ block_style }} megamenu_style_5--{{ mega_tyle }} p-absolute top-auto left-0 w-100 zi-10 o-x-hidden o-y-auto text-left opacity-0">
                <div class="{%- if container == 'full' -%}container-full{%- else -%}container{%- endif -%}"{% if container != 'full' %} style="--container_size: {{ size_container | append: 'px' }}"{% endif %}>
                    <div class="menu-dropdown__wrapper d-flex flex-wrap flex-align-stretch flex-jc-between" style="--site_text_width: {{ site_text_width | default: '0' }}">
                        <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span>{{ link.title | escape }}</div>
                        <div class="site-nav navigation_all_mobile d-none">
                            <div class="site-nav-list"><a href="{{ link.url }}" class="site-nav-title menu-lv-2"><span>{{ 'general.navigation.go_to' | t }} {{ link.title | escape }}</span></a></div>
                        </div>
                        <div class="wrapper-colunm-menu{% unless show_banner_1 %} not_banner{% endunless %}">
                            {%- if menu_text_left != blank -%}
                                <div class="col-left">
                                    <div class="site-nav-title menu-dropdown__text">
                                        {%- for link in menu_text_left.links -%}
                                            {% assign linktitle = link.title | escape | downcase | handle %}
                                            {% assign menu_text_left_sale = menu_text_left_sale | escape | downcase | handle %}
                                            <a{% if menu_text_left_sale contains linktitle %} class="active-sale"{% endif %} href="{{ link.url | escape }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a>
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="col-right">
                            {%- endif -%}
                            <div class="menu-dropdown__column menu-dropdown__column-{{ column }} w-auto{% unless show_banner_1 or show_product %} column-full{% endunless %}{% unless show_product %} no_show_product{% endunless %}{% unless show_banner_1 %} no_show_banner{% endunless %}" data-masonry='{ "itemSelector": "[data-gridItem]", "columnWidth": ".grid-sizer" }'>
                                <div class="grid-sizer"></div>
                                {%- for childlink in link.links -%}
                                    {%- assign childtitle = childlink.title | escape | downcase | handle -%}
                                    <div class="site-nav dropdown{% if show_label_blink %} menu-lv-blink{% endif %}" data-gridItem>
                                        <div class="site-nav-list">
                                            <a href="{{ childlink.url }}" class="site-nav-title{% if childlink.links != blank %} menu_mobile_link_2{% endif %}{% if sale_item_lv2 contains childtitle %} active-sale{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                <span class="text{% if childlink.current %} site-nav-active{% endif %}">{{ childlink.title | escape }}</span>
                                                {%- if childlink.links != blank -%}
                                                <span class="icon-dropdown" data-toggle-menu-mb="">{% render 'icon-caret-right' %}</span>
                                                {%- endif -%}
                                                {%- if new_label_2 contains childtitle -%}
                                                    <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                {%- elsif sale_label_2 contains childtitle -%}
                                                    <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                {%- elsif hot_label_2 contains childtitle -%}
                                                    <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                {%- endif -%}
                                            </a>
                                            {%- if childlink.links != blank -%}
                                                <div class="site-nav-sub">
                                                    <div class="nav-title-mobile text-center"><span class="icon-dropdown">{% render 'icon-arrow-nav' %}</span>{{ childlink.title | escape }}</div>
                                                    <ul class="list-unstyled">
                                                        <li class="site-nav-item menu-lv-3 text-left navigation_all_mobile d-none"><a href="{{ childlink.url }}" class="site-nav-link m-zero link link-underline link--text focus-inset link-effect caption-large"><span class="text p-relative">{{ 'general.navigation.go_to' | t }} {{ childlink.title | escape }}</span></a></li>
                                                        {%- for grandchildlink in childlink.links -%}
                                                            {% assign grandchildtitle = grandchildlink.title | escape | downcase | handle %}
                                                            <li class="site-nav-item text-left{% if sale_item_lv3 contains grandchildtitle %} active-sale{% endif %}">
                                                                <a href="{{ grandchildlink.url }}" class="site-nav-link m-zero link link--text focus-inset link-effect caption-large"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                    <span class="text{% if grandchildlink.current %} site-nav-active{% endif %} p-relative">{{ grandchildlink.title | escape }}</span>
                                                                    {%- if new_label_3 contains grandchildtitle -%}
                                                                        <span class="label new-label">{{ 'general.navigation.new_label' | t }}</span>
                                                                    {%- elsif sale_label_3 contains grandchildtitle -%}
                                                                        <span class="label sale-label">{{ 'general.navigation.sale_label' | t }}</span>
                                                                    {%- elsif hot_label_3 contains grandchildtitle -%}
                                                                        <span class="label hot-label">{{ 'general.navigation.hot_label' | t }}</span>
                                                                    {%- endif -%}
                                                                </a>
                                                            </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                </div>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                {%- endfor -%}
                            </div>
                            {%- if menu_text_left != blank -%}</div>{%- endif -%}
                        </div>
                        {% if mega_tyle == 'style2' or mega_tyle == 'style3' and show_banner_1 %}
                            {%- if show_banner_1 -%}
                                <div class="menu-banner__top">
                                    <div class="site-nav-banner--item site-nav-banner-item--right d-inline-block ver-alg-top w-100">
                                        <div class="banner d-block">
                                            <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                {%- if banner_1 != blank and show_banner_1 -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}"{% unless settings.enable_lazyload %} src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: 337px;">
                                                        {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {%- endif -%}
                        {% endif %}
                        <div class="menu-dropdown__banner clearfix{% unless show_product %} no_show_product{% endunless %}{% unless show_banner_1 %} no_show_banner{% endunless %}">
                            <div class="site-nav-banner d-flex ft-0 ls-0 flex-jc-end background-bottom" style="--mega-menu-bottom-background: {{ bg_mega_menu_bottom }}">
                                {%- if show_product -%}
                                    <div class="menu-dropdown__product col-left">
                                        {% if product_title != blank %}<h3 class="menu-dropdown__block--title text-center p-relative"><span class="text d-inline-block ver-alg-top w-auto p-zero p-relative zi-2">{{ product_title | escape }}</span></h3>{% endif %}
                                        <div class="menu-dropdown__block--content">
                                            <div class="products-grid column-{{ product_limit }} products-carousel megamenu_5" data-collection="{{ collection_product }}" data-row="{{ product_limit }}">
                                                {% for product in collections[collection_product].products limit: product_limit %}
                                                    <div class="product">
                                                        {% render 'product-card-loading',
                                                            product_card_product: product,
                                                            media_size: 'adapt',
                                                            portrait_aspect_ratio: '125',
                                                            serial: forloop.index,
                                                            sectionId: sectionId
                                                        %}
                                                    </div>
                                                {%- else -%}
                                                    {%- for product in (1..product_limit) -%}
                                                        <div class="product">
                                                            {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                                                            {% render 'product-card-placeholder',
                                                                index: current,
                                                                card-mega-menu: true
                                                            %}
                                                        </div>
                                                    {%- endfor -%}
                                                {%- endfor -%}
                                            </div>
                                        </div>
                                    </div>
                                {%- endif -%}
                                {%- if show_banner_1 and mega_tyle == 'style1' or mega_tyle == 'style4' -%}
                                    <div class="site-nav-banner--item site-nav-banner-item--right d-inline-block ver-alg-top w-100">
                                        <div class="banner d-block">
                                            <a {% if banner_url_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ banner_url_1 }}"{% endif %} class="image adaptive_height image-zoom w-100 text-center"{% if banner_1 != blank %} style="padding-top: {{ 1 | divided_by: banner_1.aspect_ratio | times: 100 }}%"{% endif %} title="{{ banner_1.alt | default: shop.name | escape }}">
                                                {%- if banner_1 != blank -%}
                                                    <img {% if settings.enable_lazyload %}data-{% endif %}srcset="{{ banner_1 | img_url: 'master' }}" {% unless settings.enable_lazyload %}src="{{ banner_1 | img_url: 'master' }}"{% endunless %} alt="{{ banner_1.alt | default: shop.name | escape }}"{% if settings.enable_lazyload %} class="lazyload" loading="lazy"{% endif %}> {% if settings.enable_lazyload %}<span class="data-lazy-loading"></span>{% endif %}
                                                {%- else -%}
                                                    <div class="placeholder" style="--height_placeholder: 337px;">
                                                        {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    </div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif -%}
    {%- else -%}
        <a href="{{ link.url }}" class="menu-lv-1__action header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
            <span class="text{%- if link.current %} header__active-menu-item{% endif %} link-effect">{{ link.title | escape }}</span>
        </a>
    {%- endif -%}
</li>