{%- comment -%}
  Renders a product card

  Accepts:
  - product_card_product: {Object} Product Liquid object (optional)
  - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - add_image_padding: {Boolean} Enables padding on the image to space out the grid
  - show_vendor: {Boolean} Show the product vendor. Default: false

  Usage:
  {% render 'product-card', show_vendor: section.settings.show_vendor %}
{%- endcomment -%}

{%- liquid
  assign product_swatch_option = settings.swatch | downcase
  assign isColor = false
  assign variant_img = ''
  for option in product_card_product.options_with_values
    assign option_name = option.name | downcase
    if product_swatch_option contains option_name
      assign isColor = true
      assign index = forloop.index0
      assign position = forloop.index | minus: 1
      assign variant_selected = option.selected_value
      if settings.show_quick_shop
        for variant in product_card_product.variants limit: 1
          if variant.image != null
            assign variant_img = variant.image
          endif
        endfor
      endif
      break
    else
      assign position = 0
      assign variant_selected = null
    endif
  endfor

  assign media_size = settings.product_block_image_ratio
  if media_size == 'portrait'
    assign portrait_aspect_ratio = settings.portrait_height
  endif

  assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio
  if product_card_product.featured_media.aspect_ratio == null
    assign featured_media_aspect_ratio = 1
  endif

  assign product_action_group = false

  assign show_quick_view = false
  if settings.show_quick_view
    if settings.product_quick_view_type == 'icon' or settings.show_quick_view_mb
      assign show_quick_view = true
    endif
  endif

  assign show_wishlist = false
  if settings.show_wishlist_card and settings.show_wishlist
    assign show_wishlist = true
  elsif template.suffix == 'ajax_wishlist_card'
    assign show_wishlist = true
  endif

  assign show_compare = false
  if settings.show_compare and settings.product_compare_type == 'icon'
    assign show_compare = true
  endif

  if show_quick_view or show_wishlist or show_compare
    assign product_action_group = true
  endif

  assign has_video = product_card_product.media | where: 'media_type', 'video'

  assign card_06_button_text_color = settings.card_06_button_text_color
  assign card_06_button_background = settings.card_06_button_background
  assign card_06_button_gradient = settings.card_06_button_gradient
  assign card_06_button_border = settings.card_06_button_border
  assign card_06_button_text_color_hover = settings.card_06_button_text_color_hover
  assign card_06_button_background_hover = settings.card_06_button_background_hover
  assign card_06_button_gradient_hover = settings.card_06_button_gradient_hover
  assign card_06_button_border_hover = settings.card_06_button_border_hover

  assign show_price = settings.show_price

  assign custom_fields = product_card_product.metafields.custom.product_variant_custom
-%}
<div
  class="product-item{% if settings.disable_product_card_border %} disable_product_card_border{% endif %}"
  data-product-id="{{ product_card_product.id }}"
  data-json-product='{"id": {{product_card_product.id}},"handle": "{{product_card_product.handle}}","media": {{product.media | json | escape}},"variants": {{ product_card_product.variants | json | escape }}}'
>
  <div class="card{% if product_card_product.media[0].media_type == 'video' %} has-first-video{% endif %}">
    <div class="card-product{% if product_card_product.featured_media == nil %} card--text-only card--soft{% endif %}">
      <div class="card-product__wrapper">
        {%- if settings.show_badge -%}
          {% render 'product-badge',
            product: product_card_product,
            class: 'card__badge',
            badge_detail: true,
            serial: serial
          %}
        {%- endif -%}
        <div
          class="card-media card-media--{{ media_size }}{% if product_card_product.media[1] != nil and settings.show_image_swap %} media--hover-effect{% endif%}{% if settings.show_compare and settings.product_compare_type == 'default' %} has-compare{% endif %}{% if loading %} media--loading-effect{% endif %}"
          {% if product_card_product.featured_media %}
            {%- if media_size == 'adapt' %}
              style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
            {%- elsif media_size == 'square' %}
              style="padding-bottom: 100%;"
            {%- elsif media_size == 'portrait' -%}
              {%- if portrait_aspect_ratio != blank %}
                style="padding-bottom: {{ portrait_aspect_ratio | append: '%' }};"
              {%- endif -%}
            {%- endif -%}
          {% endif %}
        >
          {% render 'image-product-card',
            product_card_product: product_card_product,
            variant_img: variant_img,
            has_video: has_video,
            loading: loading
          %}
          <a
            class="card-link"
            href="{{ product_card_product.url }}"
            title="{{ product_card_product.title | escape }}"
          ></a>
        </div>

        {%- if product_action_group -%}
          <div class="card-product__group group-{{ settings.group_quickview_wishlist }}">
            {%- if show_wishlist -%}
              <div class="card-product__group-item card-wishlist">
                <button
                  type="button"
                  title="{{ 'wishlist.general.add' | t }}"
                  class="wishlist-icon{% if settings.show_wishlist_card_mb %} show-mb{% endif %}"
                  data-wishlist
                  data-wishlist-handle="{{ product_card_product.handle }}"
                  data-product-id="{{ product_card_product.id }}"
                >
                  <span class="text">{{ 'wishlist.general.add' | t }}</span> {% render 'icon-heart-2' -%}
                  {%- if settings.show_wishlist_full_icon %}{% render 'icon-heart-add' %}{% endif %}
                </button>
              </div>
            {%- endif -%}
            {%- if show_quick_view -%}
              <div class="card-product__group-item card-quickview card-quickviewIcon{% if settings.show_quick_view_mb %} show-mb{% endif %}{% if settings.product_quick_view_type == 'default' %} default{% endif %}">
                <button
                  type="button"
                  title="{{ 'products.product.quick_view' | t }}"
                  class="quickview-icon"
                  data-product-id="{{ product_card_product.id }}"
                  data-open-quick-view-popup
                  data-product-handle="{{ product_card_product.handle }}"
                >
                  <span class="text">{{ 'products.product.quick_view' | t }}</span> {% render 'icon-eyes' %}
                </button>
              </div>
            {%- endif -%}
            {%- if show_compare -%}
              {% render 'product-compare',
                product: product_card_product,
                sectionId: sectionId,
                class: 'card-product__group-item card-compare card-compareIcon'
              %}
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if settings.display_item_size -%}
          {% render 'product-item-size', product: product_card_product %}
        {%- endif -%}

        {%- if settings.show_quick_view and settings.product_quick_view_type == 'default' -%}
          <div class="card-quickview">
            <button
              type="button"
              title="{{ 'products.product.quick_view' | t }}"
              class="quickview-button button"
              data-product-id="{{ product_card_product.id }}"
              data-open-quick-view-popup
              data-product-handle="{{ product_card_product.handle }}"
            >
              {{ 'products.product.quick_view' | t }}
            </button>
          </div>
        {%- endif -%}

        {%- if settings.show_product_marquee -%}
          {%- render 'product-card-marquee', product: product_card_product -%}
        {%- endif -%}
      </div>
    </div>
    {%- if settings.show_action and complementary_product_button_atc -%}
      <div
        class="card-action card-grid__hidden{% if settings.show_compare and settings.product_compare_type == 'default' %} has-compare{% endif %}"
        data-cart-action-for-quickshop-2
      >
        {% render 'add-to-cart-form',
          product: product_card_product,
          id: 'form',
          position: position,
          sectionId: sectionId
        %}
      </div>
    {%- endif -%}
    <!-- Divider -->
    <hr class="product-divider">

    <div class="card-information">
      <div class="card-information__wrapper text-{{ settings.product_content_text_align }}">
        {%- if settings.show_vendor -%}
          <div class="card-vendor link-underline">
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            {{- product_card_product.vendor | link_to_vendor: class: 'vendor-text' }}
          </div>
        {%- endif -%}

        <h3 class="card__heading">
          <a
            class="card-title link-underline{% if settings.product_title_line_text != 'full' %} card-title-ellipsis{% endif %}{% if variant_selected != blank %} card-title-change{% endif %}"
            href="{{ product_card_product.url }}"
            data-product-title="{{ product_card_product.title | escape }}"
            data-product-url="{{ product_card_product.url }}"
          >
            {{- product_card_product.title | escape -}}
            {%- if variant_selected != blank %}
              <span data-change-title>
                {% if settings.style_text_color_varriant == '01' %}-{% endif %}
                {{ variant_selected -}}
              </span>
            {%- endif -%}
          </a>
        </h3>

        {% render 'product-card-summary', product: product_card_product, class: 'card-list__hidden' %}

        {%- if show_price -%}
          <div class="card-price">
            {% render 'price', product: product_card_product, price_class: '', hasCountdown: hasCountdown %}
          </div>
        {%- endif -%}

        {% if template contains 'collection' %}
          <!-- Simplified HTML for Shape & Metal Swiper Variant Section -->
          <div class="variant-section variant-section-custom" data-handle="{{ product.handle }}">
            <!-- Shape Selector -->
            <div class="variant-group">
              <div class="variant-label">Shape</div>
              <div class="swiper variant-swiper shape-swiper">
                <div class="swiper-button-prev shape-prev">
                  <svg class="svg sv-left-arrow shape-svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <path d="M18.6277 24.6735C19.1063 24.2223 19.1241 23.4675 18.6742 22.9913L8.73463 12.4994L18.6741 2.00867C19.1253 1.53246 19.1063 0.778863 18.6277 0.326481C18.1503 -0.125902 17.3967 -0.105687 16.9443 0.371743L6.22976 11.6815C6.01306 11.9101 5.90354 12.2054 5.90354 12.4994C5.90354 12.7934 6.01306 13.0899 6.22976 13.3185L16.9443 24.6283C17.3967 25.1057 18.1503 25.1259 18.6277 24.6735Z" fill="#2B2B2B" />
                  </svg>
                </div>
                {% assign shapes = 'round,oval,emerald,cushion,pear,princess,marquise,heart,radiant' | split: ',' %}
                {% assign handle = product_card_product.handle %}
                {% assign matched_shape = '' %}
                {% for shape in shapes %}
                  {% if handle contains shape %}
                    {% assign matched_shape = shape %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                <div class="swiper-wrapper variant-options">
                  {% assign updated_handle = handle | replace: matched_shape, 'round' %}

                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="round"
                  >
                    <img src="https://cdn.shopify.com/s/files/1/0713/6598/4514/files/ROUND__DIAMOND.jpg" alt="Round">
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'oval' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="oval"
                  >
                    <img src="https://cdn.shopify.com/s/files/1/0713/6598/4514/files/OVAL__DIAMOND.jpg" alt="Oval">
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'emerald' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="emerald"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/EMERALD__DIAMOND.avif?v=1752468637"
                      alt="Emerald"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'cushion' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="cushion"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/Group_1675_245x_89200ccc-e23f-4c53-97e8-b465bdb4615e.avif?v=1752582328"
                      alt="Cushion"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'pear' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="pear"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/pear-shape_webp_785x_8f253c15-bc78-46a3-9e9d-6a4d4615af29.webp?v=1752582369"
                      alt="Pear"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'princess' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="princess"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/princess-shape_webp.webp?v=1752468789"
                      alt="Princess"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'marquise' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="marquise"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/marquise-shape_webp.avif?v=1752468767"
                      alt="Marquise"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'heart' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="heart"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/heart-shape_webp.webp?v=1752468712"
                      alt="Heart"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_shape, 'radiant' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option variant-option-squre shape"
                    onclick="redirectToProduct(this)"
                    data-shape="radiant"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0764/3211/3912/files/radiant-shape_webp_245x_245x_6f5ec1dc-cf15-49d5-a8e9-db2603901628.avif?v=1752582437"
                      alt="Radiant"
                    >
                  </a>
                </div>

                <div class="swiper-button-next shape-next">
                  <svg class="svg sv-right-arrow" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <path d="M6.37228 24.6735C5.89368 24.2223 5.87586 23.4675 6.32584 22.9913L16.2654 12.4994L6.3259 2.00867C5.87468 1.53246 5.89373 0.778863 6.37233 0.326481C6.84971 -0.125902 7.60331 -0.105687 8.05569 0.371743L18.7702 11.6815C18.9869 11.9101 19.0965 12.2054 19.0965 12.4994C19.0965 12.7934 18.9869 13.0899 18.7702 13.3185L8.05569 24.6283C7.60326 25.1057 6.84971 25.1259 6.37228 24.6735Z" fill="#2B2B2B" />
                  </svg>
                </div>
              </div>
            </div>

            <!-- Metal Selector -->
            <div class="variant-group">
              <div class="variant-label">Metal</div>
              <div class="swiper variant-swiper metal-swiper">
                {% assign metals = 'rose,white,yellow' | split: ',' %}
                {% assign handle = product_card_product.handle %}
                {% assign matched_metal = '' %}
                {% for metal in metals %}
                  {% if handle contains metal %}
                    {% assign matched_metal = metal %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                <div class="swiper-wrapper variant-options">
                  {% assign updated_handle = handle | replace: matched_metal, 'rose' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option metal"
                    onclick="selectVariant(this, 'metal')"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0713/6598/4514/files/Item.png?v=1728998267"
                      alt="Rose Gold"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_metal, 'white' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option metal"
                    onclick="selectVariant(this, 'metal')"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0713/6598/4514/files/Item_1.png?v=1728998464"
                      alt="White Gold"
                    >
                  </a>
                  {% assign updated_handle = handle | replace: matched_metal, 'yellow' %}
                  <a
                    href="/products/{{ updated_handle }}"
                    class="swiper-slide variant-option metal"
                    onclick="selectVariant(this, 'metal')"
                  >
                    <img
                      src="https://cdn.shopify.com/s/files/1/0713/6598/4514/files/Item_2.png?v=1728998531"
                      alt="Yellow Gold"
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
          <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        {% endif %}

        {%- if product_card_product.metafields.custom.positive_vibes_almost_sold_out
          or product_card_product.metafields.custom.positive_vibes_recently_people_gave_review
          or product_card_product.metafields.custom.positive_vibes_top_best_seller
        -%}
          <positive-vibes class="card-positive_vibes positive_vibes">
            <div class="text-vibes">
              {%- if product_card_product.metafields.custom.positive_vibes_almost_sold_out -%}
                <div class="text-vibes--child">
                  <p>
                    {% render 'icon-fire-3' %}
                    {{ product_card_product.metafields.custom.positive_vibes_almost_sold_out }}
                  </p>
                </div>
              {%- endif -%}
              {%- if product_card_product.metafields.custom.positive_vibes_recently_people_gave_review -%}
                <div class="text-vibes--child">
                  <p>
                    {% render 'icon-check-2' %}
                    {{ product_card_product.metafields.custom.positive_vibes_recently_people_gave_review }}
                  </p>
                </div>
              {%- endif -%}
              {%- if product_card_product.metafields.custom.positive_vibes_top_best_seller -%}
                <div class="text-vibes--child">
                  <p>
                    <span class="hot-stock">{{ 'products.product.hot_stock_text' | t }}</span>
                    {{ product_card_product.metafields.custom.positive_vibes_top_best_seller }}
                  </p>
                </div>
              {%- endif -%}
            </div>
          </positive-vibes>
        {%- endif -%}
      </div>

      {%- if settings.enable_combined_products_listing and custom_fields != blank -%}
        {% render 'combined-products-listing', product: product %}
      {%- else -%}
        {%- if isColor -%}
          {%- unless settings.show_swatch -%}
            <div class="hidden">
          {%- endunless -%}
          {% render 'product-swatch', product: product_card_product, index: index, variant_selected: variant_selected %}
          {%- unless settings.show_swatch -%}
            </div>
          {%- endunless -%}
        {%- endif -%}
      {%- endif -%}

      {%- if settings.display_text_size -%}
        {%- assign variant_size = product_card_product.options_by_name.Size.values | size -%}
        {%- if variant_size > 0 -%}
          <span class="text-size text-{{ settings.product_content_text_align }}">
            {{- 'products.product.more_sizes' | t -}}
          </span>
        {%- endif -%}
      {%- endif -%}

      {%- if settings.show_action and complementary_product_button_atc -%}
        {% render 'add-to-cart-form-category-list',
          product: product_card_product,
          id: 'form',
          list: 'list',
          position: position,
          sectionId: sectionId
        %}
      {%- endif -%}
      {%- if settings.show_compare and settings.product_compare_type == 'default' -%}
        <div class="card-compare-wrapper">
          {% render 'product-compare', product: product_card_product, sectionId: sectionId, class: 'card-compare' %}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

<style>
        .variant-section{
          display: flex;
          flex-direction: column;
          gap: 16px;
          font-size: 14px;
          padding-top: 15px;
        }
        .variant-group {
          display: flex;
          align-items: center;
        }
        .variant-label {
          width: 60px;
          font-size: 14px;
        }
        .variant-swiper{
          width: calc(100% - 65px);
        }
        .variant-options {
          display: flex;
          gap: 10px;
        }
        .variant-option-squre{
          width: 28px;
          height: 28px;
          border: 1px solid #a4a4a4;
          border-radius: 5px!important;
          overflow: hidden;
          cursor: pointer;
          transition: border 0.3s;
        }
        .variant-option {
          width: 28px;
          height: 28px;
          border: 1px solid #a4a4a4;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          transition: border 0.3s;
        }
        .variant-option.active {
          border: 1px solid #000;
        }
        .variant-option img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
        .swiper-button-next, .swiper-button-prev {
          color: #000;
        }
        .variant-swiper {
          padding: 0px 0;
        }
        .divider {
          border-top: 1px solid #ddd;
          margin: 20px 0;
        }
        .swiper-slide{
          margin: 0!important;
        }


    .shape-prev,
    .shape-next {
      width: 20px;
      height: 40px;
      background-color: #fff;
      border-radius: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .shape-prev:hover,
    .shape-next:hover {
      background-color: #f0f0f0;
    }

    .shape-prev {
      left: 0;
    }

    .shape-next {
      right: 0;
    }

    .shape-prev svg,
    .shape-next svg {
      width: 16px;
      height: 16px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
      display:none;
    }
  .swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
      opacity: .35;
      display: none!important;
      cursor: auto;
      pointer-events: none
  }
      @media (max-width: 768px) {
        .variant-option-squre{
          width: 18px;
          height: 18px;
          border: 1px solid #a4a4a4;
          border-radius: 5px!important;
          overflow: hidden;
          cursor: pointer;
          transition: border 0.3s;
        }
        .variant-option {
          width: 18px;
          height: 18px;
          border: 1px solid #a4a4a4;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
          transition: border 0.3s;
        }
        .shape-prev,
    .shape-next {
      width: 20px;
      height: 40px;
      background-color: #fff;
      border-radius: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.3s ease;
    }
    .swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
      opacity: .35;
      display: none!important;
      cursor: auto;
      pointer-events: none
  }
      }
</style>

<script>
  
  function selectVariant(el, type) {
  document.querySelectorAll(`.variant-option.${type}`).forEach(opt => {
    opt.classList.remove('active');
  });
  el.classList.add('active');
}

new Swiper('.shape-swiper', {
  slidesPerView: 'auto',
  spaceBetween: 10,
  navigation: {
    nextEl: '.shape-next',
    prevEl: '.shape-prev',
  },
});
</script>
